@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

body { font-family: 'Trebuchet MS', sans-serif; }

/*container*/
.container { background-color: #323232; }

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 81%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
	position: relative;
  border-bottom: 11px solid #076492;
}

.banner-image {	position: relative; }

.banner-headings h1 {
	position: absolute;
	top: 59px;
	left: 77px;
	font-size: 53px;
	text-transform: uppercase;
	color: #fff;
}

.banner-headings span {
  top: 137px;
  font-size: 24px;
  text-transform: capitalize;
  left: 75px;
	position: absolute;
	color: #fff;
}

nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 24px;
	text-transform: capitalize;
	background-color: #00000054;
}

nav a {
	padding: 27px 0;
	color: #fff;
	width: 18%;
}

nav a:hover {
  color: #00ffff;
}

nav a:nth-child(1) {	padding-left: 6%; } 

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*gallery section*/
.bookstore-gallery {
	padding: 83px 48px 65px;
	background-color: #fff;
}

.bookstore-gallery h2 {
	font-size: 32px;
	text-transform: capitalize;
	color: #808080;
	padding-bottom: 26px;
}

.bookstore-gallery p {
  color: #808080;
  font-size: 20px;
  padding-bottom: 13px;
}

.photo-gallery ul {
  display: flex;
  flex-wrap: wrap;
}

.photo-gallery ul li {
	width: 22%;
	padding-top: 50px;
	padding-right: 4%;
	text-align: center;
}

.photo-gallery ul li:nth-child(4n) {  padding-right: 0; }

.photo-gallery li {  padding-bottom: 24px; }

.gallery-button {
  padding-top: 83px;
  text-align: center;
}

.gallery-button li a {
  font-size: 23px;
  padding: 13px 18px;
  color: #808080;
  background-color: #ededed;;
  margin-left: 10px
}

.gallery-button li a:hover {
  background-color: #076599;
  color: #fff;
}

/*help section*/
.help-section {
  padding : 0 48px 70px;
  background-color: #fff;
}

.help-section-container {
  display: flex;
  background-color: #076599;
  padding: 45px 95px;
}

.help-section-content h2 {
  color: #fefbfe;
  font-size: 33px;
  text-transform: capitalize;
  padding-bottom: 18px;
}

.help-section-content p {
  font-size: 18px;
  color: #fefbfe;
  line-height: 40px;
}

button {
  width: 20%;
  border: none;
  border: solid 1px #fefbfe;
  background: transparent;
  font-size: 21px;
  color: #fefbfe;
  padding: 8px;
  margin-top: 18px;
}

button:hover {
  background:#000;
  color:#fff; 
}

.help-section-container figure {
  width: 47%;
  padding-top: 22px;
  padding-right: 58px;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer p {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  padding: 17px;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

 /*header section responsive*/
	
  header .wrapper {
		position: initial;
		display: flex;
		flex-direction: column-reverse;
	}

	nav a:nth-child(1) { padding-left: 0; }

	.banner-image { position: initial; }

	nav { position: initial; }

	nav a {
		display: block;
    width: 100%;
    text-align: center;
    background-color: #000;
    border: 1px solid #a9a9a9;
		padding: 18px 0px;
    color: #fff;
    font-size: 35px;
	}

	.banner-headings h1 {
    position: absolute;
    font-size: 72px;
    text-transform: uppercase;
    color: #fff;
		top: 500px;
    left: 150px;
	}

	.banner-headings span {
		font-size: 37px;
		text-transform: capitalize;
		position: absolute;
		color: #fff;
		top: 600px;
		left: 151px;
	}

	.photo-gallery ul li {
		width: 46%;
		padding-right: 0;
	}

	.photo-gallery ul li:nth-child(2n) { padding-left: 8%; }

	button { width: 32%; }

}  